.banner {
  display: flex;
  padding: 400px auto;
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.banner-text {
  padding: 32px 32px;
  font-size: 96px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.companyName {
  padding: 16px 24px;
  font-size: 80px;
}

.info {
  padding: 16px 24px;
  font-size: 96px;
}

.generalMessage {
  display: flex;
  flex-direction: column;
  margin: 48px 0px;
  padding-left: 24px auto;
  font-size: 32px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  justify-content: center;
  align-items: center;
}

.generalMessage-title {
  font-size: 48px;
}