.footer {
  margin-top: 64px;
  margin-bottom: 64px;
  padding: 24px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #46ACC2;

}

.footer-map {}

.footer-company-info {
  font-size: 24px;
  line-height: 4px;
  text-align: center;
}

.footer-office-info {
  font-size: 16px;
}

.office-hours {
  font-size: 24px;
  font-weight: bold;
}

ul {
  font-size: 16px;
}