img {
  width: 150px;
  border-radius: 50%;
  padding: 8px;
  margin: 3px 8px;
  image-rendering: crisp-edges;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #46ACC2;
  font-family: sans-serif;
  color: white;
}

.Navbar_Link {
  padding: 8px 16px;
  margin: 8px 8px;
  font-size: 42px;
}

@media only screen and (max-width: 768px) {

  .Navbar,
  .Navbar_Link,
  .Navbar_EEUlogo {
    flex-direction: column;
  }
}

/* 
.topnav {
  padding: 32px 16px;
  background-color: rgb(126, 215, 227);
  text-align: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  padding: 8px 14px;
} */